.login-page {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f5 url(/static/bg.svg) no-repeat center;
  background-size: 100%;
}

.login-page-container{
  width: 328px;
  padding-bottom: 8%;
}

.login-page-container > .title {
  color: #333333;
  font-weight: 600;
  font-size: 33px;
  text-align: center;
}
.login-page-container > .sub-title {
  margin-top: 12px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  text-align: center;
}

.login-page-container .other-icon {
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.3s;
}

.login-page-container .other-icon:hover {
  color: #2aae67;
}
